.touchBtn {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* iOS/Safari 기본 하이라이트 제거 */
    outline: none; /* 포커스 테두리 제거 */
    user-select: none; /* 텍스트 선택 방지 */
    position:fixed;
    left:0;
    width:100vw;
    z-index:2000;
    background:rgba(255, 255, 255, 0)
    /* touch-action:manipulation; */
    /* cursor:pointer; */
}
/* .touchBtn:active {
    background:rgba(140, 140, 140, 0.218);
} */
.preBtn:active {
    background: rgba(0,0,0,0.08);
}
#strokesSlider {
    position:fixed;
    z-index:1000;
}
 #strokeLabelBar{
    position:fixed;
    left:0;
    width:100vw;
    height:12vh;
    display:flex;
    flex-direction:row;
    z-index:2002;
    pointer-events:none;
    justify-content: space-evenly;
}
#prevLabel {
    
    display:flex;
    align-items:center;
    justify-content:center;
    color:#000;
    text-align:center;
    background:rgba(255, 255, 255, 0);
    font-size:1em;
    pointer-events:auto;
    z-index:2003;
    height:100%;
    user-select:none;
    /* touch-action:manipulation; */
}
#prevLabel:active {
    background:rgba(140, 140, 140, 0.218);
}/*
#curLabel {
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#000;
    background:transparent;
    font-size:2em;
    height:100%;
    user-select:none;
}
#nextLabel {
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#000;
    background:transparent;
    font-size:2em;
    height:100%;
    user-select:none;
} */