
body{
  margin: 0;
  margin-top: 1px;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  touch-action: none;    
  -webkit-tap-highlight-color: transparent;
}
*{
  -webkit-tap-highlight-color: transparent;
}
#bodyContainer {
    width: 100%;
    height: 100%;

  }
#sketch-holder {
  width: 100%;
}
#toolBar {
  display: block;
  width: 100%;
  height: 15%;
  position:absolute;
  z-index: 1;
}
#step01 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

#numbers {
  width: 50%;
}
#makeArt {
  width: 25%;
}
#step02 {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
#saveThings {
  width: 20%;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.buttonSt {
  border:2px solid rgb(255, 255, 255);
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  color:rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#inputImage {
  width: 25%;
  font-size: 20px;
  border:2px solid rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  border-radius: 10px;

  color:rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#inputImage:active {
  background-color: rgba(124, 220, 255, 0.5);

}
#makeArt {
  width: 25%;
  font-size: 20px;
  border:2px solid rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  margin-right: 5px;
  padding-bottom: 5px;
  color:rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#makeArt:active {
  background-color: rgba(124, 220, 255, 0.5);
}

#balanceScreen {
  display: flex;
  opacity: 0;
  
  justify-content: space-around;
  width:100%;
}
#balance {
  height: 75%;
}
#saveList {
  display: flex;
  justify-content: space-around;
  width:100%;
}
.labelSt {
  font-size: 1em;
  color: inhebrit;
  width: 100%;
  height: 25%;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#strokeReady {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 1000;
  color:rgb(82, 18, 18);
}
#remakeReady {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 1000;
  color:rgb(82, 18, 18);
}
#backtostarted {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 1000;
  color:rgb(82, 18, 18);
}
.displayBox {
  display: flex;
  justify-content: space-around;
  width:100%;
  font-size: 0.8em;
  color:black;
}

.displayBoxParent {
  display: flex;
  width:100%;
  padding-top:2px;
  padding-bottom:2px;
}
.plusMinus {
  background-color: rgba(124, 220, 255, 1);
  cursor: pointer;
  border:1px solid;
  width: 30%;
}
#plusMinus:active {
  background-color: rgba(124, 220, 255, 0.5);
}
#inputImage input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  background-color: white;
}
.frameSize {
  width: 90%;
  border-radius: 5px;
  cursor: pointer;
}
#frameList{
  display: flex;
  justify-content: space-around;
  background-color: rgb(133, 133, 133);
  width:100%;
  color:rgb(34, 34, 34);
  font-size: small;
  text-align:center;
  border:1px solid rgb(0, 0, 0);
  border-radius:5px;
  cursor: pointer;
}
#frameList div.selected {
  background-color: rgb(255, 255, 255);
  
}
#frames {
  translate: "no";
}
#strokeMinus:active {
  background-color: white;
}
#strokePlus:active {
  background-color: white;
}
#balanceMinus:active {
  background-color: white;
}
#balancePlus:active {
  background-color: white;
}
#menuCover {
  position:absolute;
  width:100%;
  height:0px;
  background-color: rgb(255, 0, 0);
  opacity: 1;
  z-index: 1;
  border-radius: 5px;
}
#balanceCover {
  position:absolute;
  width:100%;
  height:0px;
  background-color: white;
  opacity: 1;
  z-index: 1;
  border-radius: 5px;
}
#resultView {
  width: 20%;
}
#imgorstring {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width:25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
#strokeScreen {
  display: flex;
  justify-content: space-around;
  width:100%;
  font-size: 1em;
}
#imgorstring div.selected {
  background-color: rgb(159, 218, 245);
}
#cstr {
  background-image: url(pattern/str.png); /* Specify the image path */
  background-size: contain; /* Optional: Make the image cover the entire div */
  background-position: center; /* Optional: Center the image */
  background-repeat: no-repeat; /* Optional: Prevent image repetition */
  height: 70%; /* Example: Set a height for the div */
  width: 100%; /* Example: Set a width for the div */
}
#cimg {
  background-image: url(pattern/img.png); /* Specify the image path */
  background-size: contain; /* Optional: Make the image cover the entire div */
  background-position: center; /* Optional: Center the image */
  background-repeat: no-repeat; /* Optional: Prevent image repetition */
  height: 70%; /* Example: Set a height for the div */
  width: 100%; /* Example: Set a width for the div */
}
.colorbox:empty {
  cursor: pointer;
  width:10%;
  border: 1px solid black;
  border-radius: 5px;
}
#saveList div {
  background-color: rgb(133, 133, 133);
  width:50%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid rgb(0, 0, 0);
  border-radius:10px;
  cursor: pointer;
}
#saveList div:hover {
  background-color: rgb(255, 255, 255);
}
#colorBalance {
  width: 20%;
}
#remakeArt {
  width: 20%;
  display: flex;
  justify-content: center;
}
#backToStarted {
  width: 15%;
  display: flex;
  justify-content: center;
}
@media (min-width:1024px) {
  #toolBar{
    width: auto;
    height: auto;
  }
  #step01 {
    display: block;
    height: auto;
  }
  #inputImage {
    width: 100%;
    height: 50px;
  }
  #numbers {
    width: 100%;
  }
  #makeArt {
    width: 100%;
  }
  #step02 {
    display: block;
    height: auto;
  }
  #cstr {
    height: 50px; /* Example: Set a height for the div */
  }
  #cimg {
    height: 50px; /* Example: Set a height for the div */
  }
  .labelSt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: inhebrit;
    width: 100%;
    height: 50%;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #strokeReady {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 1000;
    color:rgb(82, 18, 18);
  }
  #imgorstring {
    width:100%;

  }
  #saveThings {
    width: 100%;
  }
  #colorBalance {
    width: 100%;
  }
  #remakeArt {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #backToStarted {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}